<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Styles.css">
    <link rel="stylesheet" href="transition.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/swup@4"></script>
    <script>
        const swup = new Swup();
    </script>
    <title>Login</title>
</head>
<body>
    <div id="app">
            <div id="login">
                <div class="sign-in">
                    <h2>Login</h2>
                    <div><input id="userId" type="text" placeholder="enter userId" v-model="userId" @keyup.enter="fnLogin"></div>
                    <div><input type="password" placeholder="enter password" v-model="password" @keyup.enter="fnLogin"></div>
                    <button @click="fnLogin">Sign in</button>
                </div>
            </div>
    </div>
</body>
</html>

<script>
    const app = Vue.createApp({
        data() {
            return {
                // 변수 - (key : value)
                userId : "",
                password : ""
            };
        },
        methods: {
            // 함수(메소드) - (key : function())
            fnLogin: function () {
                let self = this;
                let param = {
                    userId : this.userId,
                    password : this.password
                };
                $.ajax({
                    url: "http://localhost:3009/login",
                    dataType: "json",
                    type: "GET",
                    data: param,
                    success: function (data) {
                        console.log(data);
                        if(data.length > 0){
                            sessionStorage.setItem("sessionId", data[0].USERID);
                            location.href="project-list.html";
                        } else {
                            alert("Please check your ID/password.")
                        }
                    }
                });
            }
        }, // methods
        mounted() {
            // 처음 시작할 때 실행되는 부분
            let self = this;
        }
    });

    app.mount('#app');
</script>