<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="logout.js"></script>
    </script>
    <title>My Projects</title>
</head>
<body>
    <div id="app">
        <div id="logout">
            <button onclick="fnLogout()">logout</button>
        </div>
        <div id="main" class="transition-main">
            <div class="titles">
                <h1>MY PROJECTS</h1>
                <h2>Welcome, {{userInfo.NAME}} !</h2>
            </div>
            <div class="search-bar">
                <input type="text" placeholder="Search" v-model="keyword" @input="fnProjectList(currentSort)">
                <span class="search-icon fa-solid fa-magnifying-glass"></span>
            </div>
            <table>
                <tr>
                    <th>Select</th>
                    <th>Project</th>
                    <th>Priority</th>
                    <th>
                        Due Date
                        <span v-if="currentSort === 'latest'" class="sort-triangle" @click="fnSortDate">
                            &#9660; <!-- upside-down triangle -->
                        </span>
                        <span v-else class="sort-triangle" @click="fnSortDate">
                            &#9650; <!-- upside-up triangle -->
                        </span>
                    </th>
                    <th>Status</th>
                    <th>Date</th>
                </tr>
                <tr v-for="item in projectList">
                    <td>
                        <input type="checkbox" :value="item.PROJECT_NUM" v-model="selectedProject">
                    </td>
                    <td>
                        <a href="javascript:;" @click="fnViewProject(item.PROJECT_NUM)">{{item.PROJECT_NAME}}</a>
                    </td>
                    <td>{{item.PRIORITY}}</td>
                    <td>{{item.DUEDATE}}</td>
                    <td>{{item.STATUS}}</td>
                    <td>{{item.CREATEDDATE}}</td>
                </tr>
            </table>
            <div class="pagination">
                <a class="index" href="javascript:;" v-for="num in index" @click="fnPage(num)">
                <div v-if="num == page" style="font-weight: bold;">{{num}}</div>
                <div v-else>{{num}}</div>
            </a>
            </div>
            <div class="add-project">
                <a href="javascript:;" @click="fnAddProject()">
                    <div id="plus-icon" class="fa-solid fa-plus"></div>
                    <div id="add">Add new project</div>
                </a>
            </div>
            <div class="delete-btn">
                <input type="button" value="Delete Project" @click="fnDelete()">
            </div>
        </div>
    </div>
</body>
</html>

<script>
    const app = Vue.createApp({
        data() {
            return {
                // 변수 - (key : value)
                userId: "",
                sessionId: "",
                projectList: [],
                keyword : "",
                selectedProject: [],
                userInfo: {},
                currentSort : "latest",
                index : 0,
                pageSize : 5,
                page : 1
            };
        },
        methods: {
            // 함수(메소드) - (key : function())
            fnSortDate: function(){
                let self = this;
                self.currentSort = self.currentSort == "latest" ? "oldest" : "latest"; // toggle
                self.fnProjectList(self.currentSort); // call the function and pass it the current sort
            },
            fnPage : function(num){
                let self = this;
                self.page = num;
                self.fnProjectList();
            },
            fnProjectList: function (sortOrder = "") {
                let self = this;
                let param = {
                    userId : self.sessionId,
                    keyword : self.keyword,
                    sort: sortOrder,
                    pageSize : self.pageSize,
                    offset : (self.page -1) * self.pageSize,
                };
                $.ajax({
                    url: "http://localhost:3009/project/list",
                    dataType: "json",
                    type: "GET",
                    data: param,
                    success: function (data) {
                        console.log(data);
                        self.projectList = data.list;
                        self.index = Math.ceil(data.count / self.pageSize);
                    }
                });
            },
            fnUserInfo: function(){
                let self = this;
                let param = {
                    userId : self.sessionId
                };
                $.ajax({
                    url: "http://localhost:3009/user/info",
                    dataType: "json",
                    type: "GET",
                    data: param,
                    success: function (data) {
                        console.log(data);
                        self.userInfo = data.info;
                    }
                });
            },
            fnAddProject : function(){
                location.href="Project-add.html";
                self.fnProjectList(this.currentSort);
            },
            fnDelete: function(){
                let self = this;
                if(self.selectedProject.length === 0){
                    alert("Please select at least one project.");
                    return;
                }
                if(!confirm("Confirm deleting project?")){
                    return;
                }
                $.ajax({
                    url: "http://localhost:3009/project/delete",
                    dataType: "json",
                    type: "GET",
                    data: { selectedProject : self.selectedProject},
                    traditional : true,
                    success: function (data) {
                        if(data.result == "success"){
                            alert("Project deleted !");
                            self.fnProjectList();
                            self.selectedProject = [];
                        }
                    }
                });
            },
            fnViewProject: function(projectNum){
                location.href=`project-view.html?projectNum=${projectNum}`;
            }
        }, // methods
        mounted() {
            // 처음 시작할 때 실행되는 부분
            let self = this;
            // const queryParams = new URLSearchParams(window.location.search);
            // this.userId = queryParams.get('userId') || '';
            // console.log(self.userId);
            this.sessionId = sessionStorage.getItem("sessionId");
            console.log(self.sessionId);
            self.fnProjectList();
            self.fnUserInfo();
        }
    });

    app.mount('#app');
</script>