<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="logout.js"></script>
    <title>Edit Project</title>
</head>
<body>
     <div id="app">
        <div id="logout">
            <button onclick="fnLogout()">logout</button>
        </div>
        <div id="main">
            <h1>EDIT PROJECT</h1>
            <div id="edit-project">
                <table>
                    <tr>
                        <th>Priority</th>
                        <td id="priority-btn">
                            <label>
                                <input type="radio" name="priority" value="High" v-model="projectInfo.PRIORITY">
                                <span class="prio">High</span>
                            </label>   
                            <label>
                                <input type="radio" name="priority" value="Normal" v-model="projectInfo.PRIORITY">
                                <span class="prio">Normal</span>
                            </label>
                            <label>
                                <input type="radio" name="priority" value="Low" v-model="projectInfo.PRIORITY">
                                <span class="prio">Low</span>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <th>Project</th>
                        <td>
                            <input type="text" v-model="projectInfo.PROJECT_NAME">
                        </td>
                    </tr>
                    <tr>
                        <th>Due Date</th>
                        <td>
                            <input type="date" v-model="projectInfo.DUEDATE">
                        </td>
                    </tr>
                    <tr id=task-row >
                        <th>Tasks</th>
                        <td >
                            <div id="add-btn">
                                    <div id="plus-icon" class="fa-solid fa-plus"></div>
                                    <button @click="fnAddTask" :disabled="tasks.length >= maxTasks">Add new task</button>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="wrapper">
                    <div class="classwrapper">
                        <div class="editTasks" v-for="item in taskInfo">
                            <input type="text" v-model="item.TASK_NAME" :disabled="item.STATUS == 'Completed'">
                            <input type="checkbox" @change="fnTaskComplete(item)" :checked="item.STATUS == 'Completed'"><span>completed</span>
                        </div>
                    </div>
                </div>      
                <div class="add-remove">
                    <div v-for="(task, index) in tasks" :key="index">
                        <input type="text" placeholder="Enter new task" v-model="task.name" :ref="'taskInput'">
                        <button @click="fnRemoveTask(index)"><span class="fa-solid fa-trash"></span></button>
                    </div>
                </div>
                <div class="create-btn">
                    <input type="button" value="Save Changes" @click="fnSaveChanges">
                    <button @click="fnBackToList">Back to list</button>
                </div>
            </div>
        </div>
    </div>    
</body>
</html>
<script>
     const app = Vue.createApp({
        data() {
            return {
                // 변수 - (key : value)
                projectInfo : {},
                projectName: "",
                dueDate : "",
                priority : "",
                sessionId : "",
                taskInfo : [],
                tasks: [],
                maxTasks : 2
            };
        },
        methods: {
            // 함수(메소드) - (key : function())
            fnProjectInfo: function () {
                let self = this;
                let param = {
                    userId : self.sessionId,
                    projectNum : self.projectNum
                };
                $.ajax({
                    url: "http://localhost:3009/project/info",
                    dataType: "json",
                    type: "GET",
                    data: param,
                    success: function (data) {
                        self.projectInfo = data.info;
                        console.log(self.projectInfo);
                    }
                });
            },
            fnTaskInfo: function(){
                let self = this;
                let param = {
                    projectNum : self.projectNum
                };
                $.ajax({
                    url: "http://localhost:3009/task/info",
                    dataType: "json",
                    type: "GET",
                    data: param,
                    success: function (data) {
                        self.taskInfo = data.info;
                        console.log(self.taskInfo);
                    }
                });
            },
            fnSaveChanges() {
                let self = this;

                // update task status
                let updatedTasks = self.taskInfo.map(task => ({
                    ...task,
                    status: task.completed ? "Completed" : "Pending"
                }));
                let param = {
                    projectInfo : self.projectInfo,
                    taskInfo : self.taskInfo,
                    newTasks : self.tasks
                };
                $.ajax({
                    url: "http://localhost:3009/project/edit",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json", 
                    data: JSON.stringify(param),
                    success: function (data) {
                        alert("Project's edit successfully done!");
                        location.href="project-view.html?projectNum="+self.projectNum;
                    }
                });
            },
            fnTaskComplete: function(task){
                let self = this;
                task.STATUS = task.STATUS == 'Completed' ? 'Pending' : 'Completed';
                task.isDisabled = task.STATUS == 'Completed';
            },
            fnBackToList: function(){
                if(!confirm("Make sure to save your changes.")){
                    return;
                }
                location.href="project-list.html";
            },
            fnAddTask() {
                let self = this;
                if (this.tasks.length < this.maxTasks) {
                    this.tasks.push({ name: "" });

                    this.$nextTick(() => { // nextTick ensures DOM has updated
                    const inputs = this.$refs.taskInput; // array of input refs
                    inputs[inputs.length - 1].focus();   // focus the last input
                    });
                }
            },
            fnRemoveTask: function(index){
                let self = this;
                self.tasks.splice(index, 1); // remove by index
            }
        }, // methods
        mounted() {
            // 처음 시작할 때 실행되는 부분
            let self = this;
            this.sessionId = sessionStorage.getItem("sessionId");
            console.log(self.sessionId);
            const queryParams = new URLSearchParams(window.location.search);
            this.projectNum = queryParams.get("projectNum");
            self.fnProjectInfo();
            self.fnTaskInfo();
            
        }
    });
    app.mount('#app');
</script>