<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Styles.css">
    <link rel="stylesheet" href="transition.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/swup@4"></script>
    <script>
        const swup = new Swup({
            containers: ["#login"]
        });
    </script>
    <title>Login</title>
</head>
<body>
    <div id="app">
        <div class="welcome-page">
            <h1 id="site-name">
                <a href="Intro-page.html">make it</a>
            </h1>
        </div>
        <div id="login">
            <div class="sign-up">
                <h2>Create Account</h2>
                <div id="userId-check">
                    <input id="userId2" type="text" placeholder="userId" v-model="userId2">
                    <button @click="fnIdCheck">ID AVAILABILITY</button>
                    <div class="messages" v-if="taken" style="color: red;">ID already taken.</div>
                    <div class="messages" v-else-if="available" style="color: green">ID available.</div>
                </div>
                <div><input id="name" type="text" placeholder="name" v-model="name"></div>
                <div><input id="email" type="text" placeholder="email address" v-model="email"></div>
                <div><input type="password" placeholder="create password" v-model="pwd"></div>
                <div class="pwd-regex" v-if="warning">* Password must at least include 8 characters.</div>
                <div><input id="pwd2" type="password" placeholder="confirm password" v-model="pwd2" ref="confirmPwd"></div>
                <div class="pwd-regex" v-if="warning2">* The password is different.</div>
                <button @click="fnSignUp">SIGN UP</button>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    const app = Vue.createApp({
        data() {
            return {
                // 변수 - (key : value)
                userId2 : "",
                name : "",
                email : "",
                pwd : "",
                pwd2 : "",
                warning : false,
                warning2 : false,
                taken : false,
                available : false
            };
        },
        methods: {
            // 함수(메소드) - (key : function())
            fnSignUp : function (){
                let self = this;
                let param = {
                    userId2 : this.userId2,
                    name : this.name,
                    pwd : this.pwd,
                    email : this.email
                };
                if(self.userId2.length == 0){
                    alert("Enter user ID.");
                    document.querySelector("#userId2").focus();
                    return;
                }
                if(self.name.length == 0){
                    alert("Enter name.");
                    document.querySelector("#name").focus();
                    return;
                }
                if(self.email.length == 0){
                    alert("Enter email address.");
                    document.querySelector("#email").focus();
                    return;
                }
                if(self.pwd.length < 8){
                    self.warning = true;
                    return;
                } else {
                    self.warning = false;
                    this.$refs.confirmPwd.focus();
                }
                if(self.pwd2.length == 0){
                    alert("Confirm password.");
                    document.querySelector("#pwd2").focus();
                    return;
                }
                if(self.pwd != self.pwd2){
                    self.warning2 = true;
                    return;
                } else {
                    self.warning2 = false;
                }
                $.ajax({
                    url: "http://localhost:3009/signup",
                    dataType: "json",
                    type: "GET",
                    data: param,
                    success: function (data) {
                        alert("Succesfully signed up !");
                        location.href="login.html";
                        self.userId2 = "";
                        self.name = "";
                        self.email = "";
                        self.pwd = "";
                        self.pwd2 = "";
                    }
                });
                document.querySelector("#userId").focus();
            },
            fnIdCheck : function (){
                let self = this;
                if(self.userId2.length == 0){
                    alert("Enter user ID.");
                    document.querySelector("#userId2").focus();
                    return;
                }
                $.ajax({
                    url: "http://localhost:3009/idcheck",
                    dataType: "json",
                    type: "GET",
                    data: {userId : self.userId2},
                    success: function (res) {
                        self.available = !res.exists;
                        self.taken = res.exists;
                        if (res.exists) {
                            document.querySelector("#userId2").focus();
                        } else {
                            document.querySelector("#name").focus();
                        }
                    }
                });
            }
        }, // methods
        mounted() {
            // 처음 시작할 때 실행되는 부분
            let self = this;
        }
    });

    app.mount('#app');
</script>